<!DOCTYPE html>

<html lang="pt-br">
  <head>
    <style>
      .div-1 {
        background-color: #eeede4;
      }
    </style>
    <title>Web service Azure</title>
  </head>

  <body>
    <div style="text-align:center">
      <img src="{{ url_for('static', filename='gcp.jpg') }}" alt="Azure Logo" width="800" height="500"/>
      <br><br>          
      <h1 style="color:#0a4491">Welcome to Google Cloud</h1>
      <br><br><br><br><br><br><br><br><br><br>
        <div class="div-1"><br>
          <h2 style="color:#043802">roger437unix</h2><br>    
        </div>                
    </div>
  </body>
</html>